<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="navbar" style="background: darkslategrey">
        <ul>
            <li><a class="navbar-logo" href="/">Codecool Shop</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
            <li style="text-align: right"><a href="/cart">Cart</a></li>
        </ul>
    </div>
</div>

</body>
</html>
